extends layout

block content
  .row.marketing
    .col-lg-6
      h4 Spotify Data
      p
        | The Show Spot allows user authentication via Spotify's secure log-in.  Spotify does NOT share passwords or any other sensitive data with The Show Spot.  The Show Spot accessing you "followed" artists, as well as the artists from your saved tracks.  Unfortunately, it is not possible to access your radio stations.  We wish it was!
      h4 Event Gathering
      p
        | The Show Spot accesses event information through the Bandsintown API.  No user authetication is needed for this step.  We've got it covered!
      