extends layout

block content
    script(src='/javascripts/index.js')
    link(rel="stylesheet", href="/stylesheets/throbber.css" type="text/css")
    .jumbotron
      h1=title
      p.lead
        | Find music events featuring your favorite artists from Spotify.
      p Events data provided by Bandsintown.
      if user
        if user.display_name
          h3= "Welcome, "+user.display_name+"!"
        p
          a.btn.btn-lg.btn-success#searchButton(role='button') Search
          .throbber-loader
          fieldset
              span Within
              input#inputRadius(type='number', placeholder='Miles', min="1" max="150")
              span of
              input#inputZipCode(type='text', placeholder='Zip Code', pattern="d{5,5}(-\d{4,4})?")
      else
        p
          a.btn.btn-lg.btn-success#loginButton(href='/login', role='button') Spotify Log-In
          .throbber-loader
    #showList.list
  // /container
