extends layout

block content
  .container
    .header.clearfix
      nav
        ul.nav.nav-pills.pull-right
          li.active(role='presentation')
            a(href='#') Home
          li(role='presentation')
            a(href='#') About
          li(role='presentation')
            a(href='#') Contact
          if user
            li(role='presentation')
              a(href='/logout') Logout
      h3.text-muted= title
    .jumbotron
      h1 Show Finder Plus
      p.lead
        | Find music events featuring your favorite artists from Spotify.
      if user
        p
          a.btn.btn-lg.btn-success(href='/search', role='button') Search
        if user.display_name
          h3= "Welcome, "+user.display_name+"!"
      else
        p
          a.btn.btn-lg.btn-success(href='/login', role='button') Spotify Log-In
    if user && user.last_artists
      #showList.list
        table
            thead
                th Name
                th Popularity
            tbody
              each artist in user.last_artists.items
                tr
                  td= artist.name
                  td= artist.popularity
    // / Marketing
      .row.marketing
        .col-lg-6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
        .col-lg-6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
      footer.footer
        p © 2015 Company, Inc.
    // / Marketing
  // /container
